<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('snapci.png') %>">
    </a>
    <h1>Getting Started with Ruby on Heroku and Snap CI</h1>
    <p>This is a sample Ruby application deployed to Heroku using Snap CI. </p>
    
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/snap-ci-examples/snapci-ruby-heroku"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
    
  </div> <!-- row -->
</div>
